<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Simple Web Application</display-name>

	<context-param>
		<param-name>sampleContextPram</param-name>
		<param-value>Initial</param-value>
	</context-param>
	
    <filter>
        <filter-name>simpleFilter</filter-name>
        <filter-class>filters.SimpleFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>simpleFilter</filter-name>
        <url-pattern>/test</url-pattern>
    </filter-mapping>
    
    <listener>
        <listener-class>listeners.SimpleListener</listener-class>
    </listener>
    
	<servlet>
		<servlet-name>Sample</servlet-name>
		<servlet-class>web.SimpleWeb</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Sample2</servlet-name>
		<servlet-class>web.SimpleWeb</servlet-class>
		<init-param>
			<param-name>testt</param-name>
			<param-value>tt</param-value>
		</init-param>
	</servlet>
	
	<servlet>
        <servlet-name>SpringDispatchServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:/META-INF/spring/sample-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

	<servlet-mapping>
		<servlet-name>Sample</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Sample2</servlet-name>
		<url-pattern>/www</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
        <servlet-name>SpringDispatchServlet</servlet-name>
        <url-pattern>/spring/*</url-pattern>
    </servlet-mapping>

</web-app>
